body {
    font-family: Arial;
    background-color: rgb(64, 79, 92);
    padding: 40px 0;
}

h1 {
    font-size: 36px;
}

span {
    color: rgb(194, 144, 144);
}

section {
    background-color: rgb(64, 79, 92);
}